
@{
    ViewBag.Title = "add_student";
    Layout = "~/Views/Shared/Layout_student.cshtml";
}
<div class="line"></div>
<h2 style="text-align: center;">Thêm sinh viên</h2>
<div class="line"></div>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Chung
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <span>Tên sinh viên :</span>
                    </div>
                    <div class="col">
                        <div class="row">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Điền tên sinh viên">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Mã sinh viên :</span>
                    </div>
                    <div class="col">
                        <div class="row">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Điền mã sinh viên">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Ngày sinh</span>
                    </div>
                    <div class="col">
                        <div class="row">
                            <input class="form-control" type="datetime-local" value="1999-08-19T13:45:00" id="example-datetime-local-input">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Giới tính :</span>
                    </div>
                    <div class="col">
                            <div class="row">
                                <select class="form-control" aria-label="Default select example">
                                    <option selected value="0">Nữ</option>
                                    <option value="1">Nam</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Số điện thoại :</span>
                    </div>
                    <div class="col">
                            <div class="row">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Điền số điện thoại">
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Thiết lập khác
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <span>Thời gian bắt đầu truy cập</span>
                        <div class="element-right">
                            <i class="fas fa-question-circle"></i>
                        </div>
                    </div>
                    <div class="col">
                        <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                    </div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Mở</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Kết thúc truy cập</span>
                        <div class="element-right">
                            <i class="fas fa-question-circle"></i>
                        </div>
                    </div>

                    <div class="col">
                        <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                    </div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Mở</label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Thời gian đóng</span>
                        <div class="element-right">
                            <i class="fas fa-question-circle"></i>
                        </div>
                    </div>

                    <div class="col">
                        <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                    </div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Mở</label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Khi kết thúc thời gian</span>
                        <div class="element-right">
                            <i class="fas fa-question-circle"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <select class="custom-select my-1 mr-sm-2" id="#">
                                <option selected>Choose...</option>
                                <option value="1">someting</option>
                                <option value="2">someting</option>
                                <option value="3">someting</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
    </div>
    <div class="col">
        <button type="button" style="margin: 5px;" class="btn btn-outline-success" onclick="location.href='@Url.Action("", "Lecture")'">Lưu</button>
    </div>
</div>

